body {
    background-color: #C0B8CA;
}

p {
font-size:20px;
color:#664B7F;
border-style: double;
border-width: 15px;
background-color: #D3CBDD;
}

img {
   padding:10px;
   border:1px solid #664B7F;
   background-color:#664B7F;
}

.cell {cursor: cell;
}

li {
color:#687B59;
}

ol {
color:#687B59;
}

.module {
  cursor: url('path-to-image.png'), auto;	
}

.grid-container {
  display: grid;
  background-color: #664B7F;
  padding: 10px;
}
.grid-item {
background-color: #D3CBDD;
border-style: double;
border-width: 15px;
padding: 20px;
font-size: 30px;
text-align: center;
}

div {
color: #664B7F;
}

h1 {
color: #664B7F;
font-size:74px;
text-shadow: 4px 4px #B092B5;
}
